@media(min-width: 2500px){
    .footer{
        height: 1000px;
    }
}

@media (max-width: 1500px) {
    .bubbleBox{
        margin-left: 200px;
    }

    .niceBox{
        margin-right: 150px;
    }

    #gallup{
        margin-left: 150px;
    }

    #gallupInfo{
        margin-left: 25px;
    }

    .cbulk {
        width: 95%;
    }
}

@media (max-width: 1300px) {
    .bubbleBox{
        margin-left: 100px;
    }

    .niceBox{
        margin-right: 50px;
    }

    #gallup{
        margin-left: 50px;
    }

    #gallupInfo{
        width: 275px;
        height: 50%;
        margin-top: 400px;
    }


    .infoBox {
        width: 450px;
        height: 400px;
        margin-top: 350px;
    }

    .infoBoxContent p{
        font-size: 15px;
    }

    .infoBox h2 {
        font-size: 30px;
    }

    .infoBoxContent::-webkit-scrollbar {
        width: 6px;
    }

}


@media (max-width: 1100px) {

    #gallup {
        margin-left: 5px;
        width: 300px;
        height: 85%;
    }

    .bubbleBox{
        margin-left: 5%;
        width: 600px;
        height: 30%;
        background-size: 90%;
        font-size: 15px;
        margin-bottom: 0;
        margin-top: 17%;
        padding-top: 5%;
    }

    .niceBox{
        width: 350px;
        height: 300px;
        margin-top: 0px;
    }

    .file-label img {
        width: 200px;          
    }

    form {
        width: 60%;
    }

}

@media (max-width: 900px) {

    .cbulk{
        width: 100%;
        margin: auto;
    }

    #gallupInfo{
        display: none;
    }

    .headGallup{
        display: block;
        width: 250px;
        height: 25%;
        margin: auto;
        animation: fromLeft 1.5s;
    }

    .infoBox{
        float: none;
        width: 90%;
        height: 60%;
        margin: auto;
        margin-top: 10%;
    }

    .headGallup img{    
        width: 100%;
        height: 100%;
    }

    h3 {
        font-size: 150%;
        margin-top: 20px;
    }

    h3 img {
        width: 75px;
        height: 50px;
        margin-top: 15px;
    }

    nav {
        margin-top: 25px;
    }

    #selected, #unselected {
        font-size: 10px;
    }

    .bulk {
        height: 1000px;
    }

    .bubbleBox{
        display: none;
        font-size: 90%;
    }

    .bbulk{
        display: none;
    }

    .bulk{
        padding-top: 5%;
    }

    .tbulk{
        display: block;
        width: 60%;
        height: 30%;
        margin: auto;
    }

    .niceBox{
        width: 100%;
        height: 120%;
        margin: 0px;
        margin-top: 5%;
        }

    .cbubbleBox{
        display: block;
        margin: auto;
        margin-top: 20%;
        width: 75%;
        height: 20%;
        background: url("/static/imgs/centerBubble.png");
        background-size: 80%;
        background-position: center bottom;
        background-repeat: no-repeat;
        text-align: center;
        font-size: 85%;
        font-family: Turret Road;
        font-weight: bold;
        animation: fromLeft 1.5s;
        padding: 5px;
        padding-top: 5%;
    }

    .textBox{
        width: 70%;
        text-align: center;
    }


    form {
        width: 40%;
    }

    .rGallup{
        display: block;
        width: 275PX;
        height: 40%;
        margin: auto;
        animation: fromBottom 2s;
    }

    .cbubbleBox p {
        margin-top: 9%;
    }

    .infoBox h2{
        padding-top: 5%;
    }

}

@media (max-width: 800px) {
    .textBox{
        margin-top: 8%;
    }
    #selected, #unselected {
        margin-right: 20px;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 10);
    }
}

@media (max-width: 700px) {

    .tbulk{
        width: 60%;
        height: 25%;
    }
    
    .textBox {
        margin-top: 6%;
    }

    form {
        width: 50%;
        margin-top: 5%;
    }

    .infoBox h2 {
        font-size: 150%;
        width: 40%;
        height: 8%;
    }

    .file-label {
        margin: auto;
        display: block;       
        text-align: center;    
    }

    .file-label img {
        width: 90%;
        height: auto;
        display: block;       
        margin: 0 auto;       
    }

    .cbubbleBox{
        width: 90%;
    }


}

@media (max-width: 650px) {
    .textBox{
        margin-top: 8%;
    }
}

@media (max-width: 600px) {

    .tbulk{
        width: 75%;
        height: 25%;
    }
    form {
        width: 50%;
    }

    h3 {
        font-size: 90%;
    }

    .textBox{
        margin-top: 14%;
    }


    .rGallup{
        height: 50%;
        width: 350px;
    }

    #loader img{
        width: 250px;
        height: 125px;
    }

    .header{
        height: 100px;
    }

    .textBox{
        margin-top: 8%;
    }

    .cbubbleBox {
        background-size: 90%;
    }

    .header > nav:not(.dripDrop) {
        display: none;
    }

    .dripToggle {
        display: block;
        width: 75px;
        height: 75px;
        background: transparent url("/static/imgs/dropIcon.png") no-repeat center;
        background-size: contain;
        border: none;
        cursor: pointer;
        float: right;;
        margin-top: 30px;
        margin-right: 20px;
    }

    .dripToggle:hover {
        filter: brightness(70%);
    }

    .dripDrop {
        display: block;
        transition: height 0.5s ease;
        height: 0px;
        width: 0;
        overflow: hidden;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #000;
        text-align: center;
        z-index: 1000;
    }

    .dripDrop ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    #selected, #unselected {
        box-shadow: none;
        margin: auto;
        font-size: 200%;
        border-radius: 0;
        width: 90%;
    }

    #selected{
        filter: brightness(100%);
    }

    li {
        background-color: rgb(83, 94, 255);
        border-radius: 25px;
        width: 90%;
        margin: auto;
        margin-top: 20px;
    }

    
    #liSelected{
        filter: brightness(70%);
    }

    .niceBox {
        height: 130%;
    }
    
}

@media (max-width: 500px) {

    .infoBox{
        height: 55%;
        margin-top: 20%;
    }

    .headGallup{
        margin-top: 20%;
        width: 200px;
        height: 20%;
    }
    .niceBox h2{
        font-size: 150%;
        padding-top: 7%;

    }

    .infoBox h2 {
        width: 40%;
        height: 70%;
        margin-top: 20px;
        height: 6%;
        padding: 6%;
        padding-top: 8%; 
    }


    .textBox{
        margin-top: 12%;
    }

    .dripDrop.open{
        width: 70%;
    }

    .niceBox {
        height: 130%;
    }
}

@media (max-width: 475px) {
    .textBox{
        margin-top: 16%;
    }

    .cbubbleBox {
        font-size: 75%;
    }

    .tbulk {
        width: 100%;
    }

    .niceBox {
        width: 80%;
        height: 120%;
        margin-right: 9%;
    }
}

@media (max-width: 435px) {
    .textBox{
        margin-top: 20%;
    }

}

@media (max-width: 400px) {


    .niceBox{
        height: 90%;
    }

    .niceBox h2{
        font-size: 100%;
        height: 10%;
        padding-top: 3%;
    }

    .cbubbleBox{
        margin-top: 0;
        font-size: 65%;
    }

    .rGallup{
        margin-top: 10%;
    }

    h3 {
        margin-left: 10px;
    }

    .niceBox h2 {
        border-width: 3px;
        font-size: 130%;
    }

    .textBox{
        margin-top: 25%;
    }

    #selected, #unselected {
        font-size: 150%;
    }

    .infoBoxContent p{
        font-size: 10px;
        margin-left: 5%;
    }

    .infoBoxContent {
        padding-top: 10px;
    }

    .niceBox h2 {
        height: 15%;
        padding-top: 8%;
    }

    .niceBox {
        height: 110%;
    }

}

@media (max-width: 365px){
    .textBox{
        margin-top: 27%;
    }
}

@media (max-width: 350px) {

    .cbubbleBox{
        font-size: 60%;
    }
    .textBox{
        margin-top: 33%;
    }

    h3 img {
        width: 50px;
        height: 30px;
        margin-top: 27px;
    }

    .niceBox {
        height: 90%;
    }

    .niceBox h2 {
        font-size: 120%;
        padding-top: 6%;
    }

}

@media (max-width: 330px){
    .textBox{
        margin-top: 35%;
    }
}

