@media(min-width: 2500px){
    .footer{
        height: 800px;
    }
}

@media (max-width: 1500px) {
    .bubbleBox{
        margin-left: 200px;
    }

    .niceBox{
        margin-right: 150px;
    }

    #gallup{
        margin-left: 150px;
    }

    #gallupInfo{
        margin-left: 25px;
    }

    .cbulk {
        width: 95%;
    }
}

@media (max-width: 1300px) {
    .bubbleBox{
        margin-left: 100px;
    }

    .niceBox{
        margin-right: 50px;
    }

    #gallup{
        margin-left: 50px;
    }

    #gallupInfo{
        width: 275px;
        height: 50%;
        margin-top: 400px;
    }


    .infoBox {
        width: 450px;
        height: 400px;
        margin-top: 350px;
    }

    .infoBoxContent p{
        font-size: 15px;
    }

    .infoBox h2 {
        font-size: 30px;
    }

    .infoBoxContent::-webkit-scrollbar {
        width: 6px;
    }

}


@media (max-width: 1100px) {

    #gallup {
        margin-left: 5px;
        width: 300px;
        height: 85%;
    }

    .bubbleBox{
        margin-left: 5%;
        width: 600px;
        height: 30%;
        background-size: 90%;
        font-size: 15px;
        margin-bottom: 0;
        margin-top: 17%;
        padding-top: 5%;
    }

    .niceBox{
        width: 350px;
        height: 300px;
        margin-top: 0px;
    }

    .file-label img {
        width: 200px;          
    }

    form {
        width: 60%;
    }
}

@media (max-width: 900px) {

    .cbulk{
        width: 100%;
        margin: auto;
    }

    #gallupInfo{
        display: none;
    }

    .headGallup{
        display: block;
        width: 250px;
        height: 25%;
        margin: auto;
        animation: fromLeft 1.5s;
    }

    .infoBox{
        float: none;
        width: 90%;
        height: 60%;
        margin: auto;
        margin-top: 10%;
    }

    .headGallup img{    
        width: 100%;
        height: 100%;
    }

    h3 {
        font-size: 150%;
        margin-top: 20px;
    }

    h3 img {
        width: 75px;
        height: 50px;
        margin-top: 15px;
    }

    nav {
        margin-top: 25px;
    }

    a {
        font-size: 10px;
    }

    .bulk {
        height: 1000px;
    }

    .bubbleBox{
        display: none;
        font-size: 90%;
    }

    .bbulk{
        display: none;
    }

    .bulk{
        padding-top: 5%;
    }

    .tbulk{
        display: block;
        width: 60%;
        height: 30%;
        margin: auto;
    }

    .niceBox{
        width: 100%;
        height: 120%;
        margin: 0px;
        margin-top: 5%;
        }

    .cbubbleBox{
        display: block;
        margin: auto;
        margin-top: 20%;
        width: 75%;
        height: 20%;
        background: url("/static/imgs/centerBubble.png");
        background-size: 70%;
        background-position: center bottom;
        background-repeat: no-repeat;
        text-align: center;
        font-size: 85%;
        font-family: Turret Road;
        font-weight: bold;
        animation: fromLeft 1.5s;
        padding: 5px;
        padding-top: 5%;
    }


    form {
        width: 40%;
    }

    .rGallup{
        display: block;
        width: 275PX;
        height: 40%;
        margin: auto;
        animation: fromBottom 2s;
    }

    .cbubbleBox p {
        margin-top: 9%;
    }

    .infoBox h2{
        padding-top: 5%;
    }

}

@media (max-width: 800px) {
    .cbubbleBox {
        width: 90%;
    }
}

@media (max-width: 700px) {

    .tbulk{
        width: 60%;
        height: 25%;
    }

    .cbubbleBox{
        width: 100%;
    }

    .cbubbleBox p {
        margin-top: 8%;
    }

    form {
        width: 50%;
        margin-top: 5%;
    }

    a {
        margin-right: 20px;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 10);
    }

    .infoBox h2 {
        font-size: 150%;
        width: 40%;
        height: 8%;
    }

    .file-label {
        margin: auto;
        display: block;        /* important */
        text-align: center;    /* helps inline children */
    }

    .file-label img {
        width: 90%;
        height: auto;
        display: block;        /* important */
        margin: 0 auto;        /* centers the image */
    }

}

@media (max-width: 600px) {

    .tbulk{
        width: 75%;
        height: 25%;
    }
    form {
        width: 50%;
    }

    h3 {
        font-size: 90%;
    }


    .rGallup{
        height: 50%;
        width: 350px;
    }

    .cbubbleBox{
        background-size: 85%;
    }

    .cbubbleBox p {
        margin-top: 12%;
    }

    #loader img{
        width: 250px;
        height: 125px;
    }

    .header{
        height: 100px;
    }
    
}


@media (max-width: 500px) {

    .infoBox{
        height: 55%;
        margin-top: 20%;
    }

    .headGallup{
        margin-top: 20%;
        width: 200px;
        height: 20%;
    }
    .niceBox h2{
        font-size: 150%;
        padding-top: 7%;

    }

    .infoBox h2 {
        font-size: 120%;
        width: 35%;
        height: 6%;
    }

    .cbubbleBox {
        background-size: 100%;
        font-size: 80%;
    }


    h3 img {
        width: 50px;
        height: 30px;
        margin-top: 25px;
    }

    a {
        padding: 10px;
        font-size: 50%;
    }

    nav {
        margin-top: 20px;
    }


}

@media (max-width: 400px) {

    nav {
        width: 150px;
        margin-right: 20px;
    }

    a {
        margin-right: 5%;
    }

    .niceBox{
        height: 90%;
    }

    .niceBox h2{
        font-size: 100%;
        height: 10%;
        padding-top: 3%;
    }

    .cbubbleBox{
        margin-top: 0;
    }

    .cbubbleBox p {
        margin-top: 20%;
    }

    .rGallup{
        margin-top: 10%;
    }

    h3 {
        margin-left: 5px;
    }

    #bs {
        display: none;
    }

    #ss {
        display: inline;
    }

    .niceBox h2 {
        border-width: 3px;
    }

}

@media (max-width: 350px) {

    .cbubbleBox{
        font-size: 60%;
    }
    .cbubbleBox p{
        margin-top: 30%;
    }

    .infoBox h2{
        padding-top: 4%;
    }

    .niceBox {
        height: 80%;
    }

}


