@keyframes fromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fromBottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(160, 160, 160);
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(160, 160, 160);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
  background: url("/static/imgs/earth.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}

#loader.active {
  opacity: 1;
  visibility: visible;
}

#container{
    display: none;
}

.headGallup{
    display: none;
}

#ss {
    display: none;
}

#red {
    color: rgb(173, 0, 0);
}

#green {
    color: rgb(0, 128, 0);
}

.rGallup img{
    width: 100%;
    height: 100%;
}

.rGallup {
    display: none;
}

.tbulk{
    display: none;
}

.cbubbleBox {
    display: none;
}

.header {
    width: 100%;
    height: 120px;
    background-color: rgb(120, 120, 120);
    text-align: center;
    line-height: 90px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 10);
    overflow: hidden;
}

h3 {
    font-family: Turret Road;
    float: left;
    font-weight: 1000;
    font-size: 200%;
    margin: 0;
    margin-top: 40px;
    margin-left: 20px;
    padding-top: 10px;
    text-align: top;
}

h3 img {
    width: 100px;
    height: 75px;
    float: left;
}

nav {
    float: right;
    margin-top: 15px;
}

a {
    text-decoration: none;
    font-family: Turret Road;
    font-weight: 1000;
    margin-right: 40px;
    padding: 15px;
    border-radius: 35px;
    border-width: 7px;
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 10);
    background-color: rgb(83, 94, 255);
    color: rgb(255, 255, 255);
}


#unselected:hover {
    filter: brightness(70%);
}

#selected {
    filter: brightness(70%);
    cursor: default;
    pointer-events: none;
}

#container {
    width: 100%;
    height: 200px;
}

.bulk {
    margin-top: 100px;
    width: 100%;
    height: 800px;
    background: url("/static/imgs/earth.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 100px;
    overflow: hidden;
}

.cbulk {
    width: 85%;
    height: 100%;
}

#gallupInfo {
    display: block;
    width: 450px;
    height: 80%;
    float: left;
    margin-left: 275px;
    margin-top: 175px;
    animation: fromLeft 2s;
}


.infoBox {
    width: 700px;
    height: 600px;
    margin: auto;
    margin-top: 150px;
    background-color: rgb(255, 255, 255);
    border-radius: 75px;
    padding-top: 5px;
    border-width: 10px;
    overflow: hidden;
    float: right;
    animation: fromRight 2s;
}

.bubbleBox {
    width: 800px;
    height: 35%;
    margin-top: 60px;
    background: url("/static/imgs/bubble.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    margin-left: 400px;
    text-align: center;
    font-size: 25px;
    font-family: Turret Road;
    font-weight: bold;
    animation: fromLeft 1.5s;
}

.textBox{
    width:  80%;
    height: 50%;
    margin: auto;
    height: 50%;
    margin-top: 50px;
    text-align: left;
}

.bbulk {
    width: 100%;
    height: 60%;
    float: right;
    overflow: hidden;
}

#gallup{
    display: block;
    width: 350px;
    height: 100%;
    float: left;
    margin-left: 300px;
    animation: fromLeft 2s;
}

.niceBox {
    float: right;
    margin-right: 275px;
    width: 500px;
    height: 75%;
    background-color: rgb(250, 250, 250);
    border-radius: 25px;
    margin-top: 60px;
    animation: fromRight 2s;
}

h2 {
    display: block;
    font-size: 35px;
    font-family: Turret Road;
    text-align: center;
    height: 15%;
    width: 80%;
    margin: auto;
    margin-top: 4%;
    color: rgb(83, 94, 255);
    background-color: rgb(0, 0, 0);
    padding-top: 3%;
    border-radius: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(83, 94, 255);
}

form {
    display: block;
    width: 50%;
    height: 50%;
    margin: auto;
}

input[type="file"] {
    display: none;
}

.file-label img {
    width: 250px;          
    cursor: pointer;
}

.file-label img:hover {
    filter: brightness(70%);
}

.footer {
    width: 100%;
    height: 200%;
    background-color: rgb(120, 120, 120);
    text-align: center;
    line-height: 90px;
    font-size: 120%;
    font-family: Turret Road;
    font-weight: 1000;
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 10);
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}

.bedRock {
    width: 100%;
    background-color: rgb(120, 120, 120);
    height: 10px;
    box-shadow: 0 15px 10px 2px rgba(0, 0, 0, 10);
}

.infoBox h2 {
    font-size: 40px;
    border-style: none;
    font-weight: 1000;
    text-decoration: underline;
    margin-bottom: 40px;
    background-color: rgb(83, 94, 255);
    width: 50%;
    height: 12%;
    border-radius: 60px;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 10);
    color: white;
    padding: 0;
    padding-top: 4%;
}

.infoShell {
    height: 60%;
    width: 80%;
    margin: auto;
    background-color: rgb(83, 94, 255);
    border-radius: 25px;
    overflow-x: hidden;
    box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 10);
}

.infoBoxContent {
    height: 100%;
    width: 100%;
    font-size: 20px;
    font-family: Turret Road;
    text-align: left;
    margin: auto;
    background-color: rgb(83, 94, 255);
    overflow-y: scroll;
    font-weight: 1000;
}

.infoBox p {
    color: white;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 1%;
    margin-right: 1%;
}

.infoBoxContent::-webkit-scrollbar {
    border-radius: 10px;
}


.infoBoxContent::-webkit-scrollbar {
    width: 12px;
}

.infoBoxContent::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.infoBoxContent::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

