html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(160, 160, 160);
}


.header {
    width: 100%;
    height: 120px;
    background-color: rgb(120, 120, 120);
    text-align: center;
    line-height: 90px;
    font-size: 24px;
    font-family: Arial, sans-serif;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 10);
    overflow: hidden;
}

h3 {
    font-family: Turret Road;
    float: left;
    font-weight: 1000;
    font-size: 40px;
    margin: 0;
    margin-top: 40px;
    margin-left: 20px;
    padding-top: 10px;
    text-align: top;
}

h3 img {
    width: 100px;
    height: 75px;
    float: left;
}

nav {
    float: right;
    margin-top: 15px;
}

a {
    text-decoration: none;
    font-family: Turret Road;
    font-weight: 1000;
    margin-right: 40px;
    padding: 15px;
    border-radius: 35px;
    border-width: 7px;
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 10);
    background-color: rgb(83, 94, 255);
    color: rgb(255, 255, 255);
}


#unselected:hover {
    filter: brightness(70%);
}

#selected {
    filter: brightness(70%);
    cursor: default;
    pointer-events: none;
}

.container {
    width: 100%;
    height: 200px;
}

.bulk {
    margin-top: 100px;
    width: 100%;
    height: 800px;
    background: url("/static/imgs/earth.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 100px;
    overflow: hidden;
}

.bubbleBox {
    width: 800px;
    height: 35%;
    margin-top: 60px;
    background: url("/static/imgs/bubble.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    margin-left: 400px;
    text-align: center;
    font-size: 25px;
    font-family: Turret Road;
    font-weight: bold;
}

.textBox{
    width:  80%;
    height: 50%;
    margin: auto;
    height: 50%;
    margin-top: 50px;
    text-align: left;
}

.bbulk {
    width: 100%;
    height: 60%;
    float: right;
    overflow: hidden;
}

#gallup{
    display: block;
    width: 350px;
    height: 100%;
    float: left;
    margin-left: 300px;
}

.niceBox {
    float: right;
    margin-right: 275px;
    width: 500px;
    height: 70%;
    background-color: rgb(250, 250, 250);
    border-radius: 25px;
    margin-top: 60px;
}

h2 {
    display: block;
    font-size: 35px;
    font-family: Turret Road;
    text-align: center;
    height: 15%;
    width: 80%;
    margin: auto;
    margin-top: 4%;
    color: rgb(83, 94, 255);
    font-style: bold;
    background-color: rgb(0, 0, 0);
    padding-top: 3%;
    border-radius: 25px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(83, 94, 255);
}

form {
    display: block;
    width: 50%;
    height: 50%;
    margin: auto;
}

input[type="file"] {
    display: none;
}

.file-label img {
    width: 250px;          
    cursor: pointer;
}

.file-label img:hover {
    filter: brightness(70%);
}

.footer {
    width: 100%;
    height: 100%;
    background-color: rgb(120, 120, 120);
    text-align: center;
    line-height: 90px;
    font-size: 24px;
    font-family: Turret Road;
    font-weight: 1000;
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 10);
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}

.bedRock {
    width: 100%;
    background-color: rgb(120, 120, 120);
    height: 10px;
    box-shadow: 0 15px 10px 2px rgba(0, 0, 0, 10);
}
