{% extends "base.html" %}
{% block content %}
    <div class="bubbleBox">
        <div class="textBox">
        {% if category == "null" %}
            <p>
                Hello! My name is Gallup and I am a world-renowned human expert.
                By uploading an audio file to this website,
                I can easely identify if that file contains a sound made by a human
            </p>
        {% elif category == "other"%}
            <p>
                After careful analysis, I have determined that the sound in the uploaded audio file
                does not originate from a human. It is likely produced by other sources such as <span id="category">animals</span>,
                <span id="category">machinery</span>, or <span id="category">environmental sounds</span>.
            </p>
        {% else %}
            <p>
                After careful analysis, I have determined that the sound in the uploaded audio file
                is indeed produced by a human. In this particular case, the sound is a <span id="category">{{ category }}</span>. 
            </p>
        {% endif %}
        </div>
    </div>
    <div class="bbulk">
        <div class="niceBox">
            <h2>Upload file here</h2>
            <form method="POST" action="/" enctype="multipart/form-data">
                <label for="file-upload" class="file-label">
                    <img src="{{ url_for('static', filename='imgs/planeticon.png') }}" alt="Upload file">
                </label>
                    <input
                        id="file-upload"
                        type="file"
                        name="file"
                        accept=".mp3"
                        required
                        onchange="this.form.submit()"
                    >
                    <input type="hidden" name="processFile" value="True">
            </form>
        </div>
        <img src="{{ url_for('static', filename='imgs/Gallup.png') }}" alt="Gallup is missing" id="gallup">
    </div>

    <div class="tbulk">
        <div class="niceBox">
            <h2>Upload file here</h2>
            <form method="POST" action="/" enctype="multipart/form-data">
                <label for="file-upload" class="file-label">
                    <img src="{{ url_for('static', filename='imgs/planeticon.png') }}" alt="Upload file">
                </label>
                    <input
                        id="file-upload"
                        type="file"
                        name="file"
                        accept=".mp3"
                        required
                        onchange="this.form.submit()"
                    >
                    <input type="hidden" name="processFile" value="True">
            </form>
        </div>
    </div>

    <div class="cbubbleBox">
        {% if category == "null" %}
            <p>
                Hello! My name is Gallup and I am a world-renowned human expert.
                By uploading an audio file to this website,
                I can easely identify if that file contains a sound made by a human
            </p>
        {% elif category == "other"%}
            <p>
                After careful analysis, I have determined that the sound <br>in the uploaded audio file
                does not originate from a human. <br>It is likely produced by other sources such <br>as <span id="category">animals</span>,
                <span id="category">machinery</span>, or <span id="category">environmental sounds</span>.
            </p>
        {% else %}
            <p>
                After careful analysis, I have determined that <br>the sound in the uploaded audio file
                is indeed produced <br>by a human. In this particular case, <br>the sound is a <span id="category">{{ category }}</span>. 
            </p>
        {% endif %}
    </div>

    <div class = "rGallup">
        <img src="{{ url_for('static', filename='imgs/Gallup.png') }}" alt="Gallup is missing">
    </div>

                                                                                                                                                                                                                                                                                                                                                     
{% endblock %}
